<h1>User</h1>

<div class="container">
<div class="row">
<button ng-click="uc.test()">Test</button>
</div>
</div>

<!--
<pre>{{uc}}</pre>
-->

<br/>
<div class="container">
    <div class="row">
        <form class="form-inline" name="newUserForm" ng-submit="uc.addUser()" novalidate>
            <div class="form-group" ng-class="{'has-error' : newUserForm.$invalid && newUserForm.$dirty}">
            <!--<div class="form-group" ng-class="{'has-error' : newUserForm.$invalid && userName.$dirty}">-->
                <label class="sr-only" for="newUserName">Name</label>
                <input type="text" class="form-control" id="newUserName" placeholder="Name" ng-model="uc.newUser.name" name="userName" required>
            </div>
            <div class="form-group">
                <label class="sr-only" for="newUserSurname">Surname</label>
                <input type="text" class="form-control" id="newUserSurname" placeholder="Surname" ng-model="uc.newUser.surname" required>
            </div>
<!--
            <div class="form-group">
                <label class="sr-only" for="exampleInputPassword3">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
            </div>
-->
<!--
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me
                </label>
            </div>
-->
            <button type="submit" class="btn btn-default" ng-disabled="newUserForm.$invalid">Add User</button>
        </form>
    </div>
</div>
<br/>
<!--
<pre>{{ newUserForm | json }}</pre>
-->

<br/>

<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Управление</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in uc.list" ng-init="b-$index">
        <td>{{$index+1}}</td>
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
        <td><span class="pointer glyphicon glyphicon-remove" aria-hidden="true" ng-click="uc.removeUser(user.$id)"></span></td>
    </tr>
    </tbody>
</table>

<pre>{{uc.list | json}}</pre>
