.btn2 {
  background: #3CE222;
  color: #E211AC; }

/*
.navbar { margin-bottom:0px;}
*/
/* fix fixed-bar */
body {
  padding-top: 60px; }

@media screen and (max-width: 768px) {
  body {
    padding-top: 0; } }

/* fix fixed-bar jumping to in-page anchor issue */
*[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden; }

.eye-blue {
  color: blue; }

.eye-green {
  color: green; }

.eye-brown {
  color: brown; }

.pointer {
  cursor: pointer; }
