<!DOCTYPE html>
<html ng-app="MyFitTracker">
<head>
	<meta charset=UTF-8>
	<title>myfittracker</title>

	<link rel=stylesheet href="css/_concat/vendor.css">
	<link rel=stylesheet href="css/_concat/app.css">

</head>
<body>
	<div class="container" ng-include="'ht/status/navbar.html'"></div>

	<!--<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>-->

	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

	<div class="container view-container" ui-view></div>

	<script src="js/_concat/vendor.js"></script>
	<script src="js/_concat/app.js"></script>

</body>
</html>
